{% extends 'layouts/base.html' %}
{% load static %}

{% block user %}
{% include 'layouts/auth_user.html' %}
{% endblock %}

{% block content %}
<h1>New Question</h1>
<p class="text-danger">Too long title!</p>
<form action="" class="add_question mt-4 mx-4">
    <div class="d-flex flex-column gap-3 mb-3">
        <div class="d-flex ask_field">
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Enter a title of question" minlength="10"
                   maxlength="256" class="bg-dark ms-auto">
        </div>
        <div class="d-flex ask_field">
            <label for="text">Text</label>
            <textarea id="text" cols="30" rows="10" placeholder="Enter text of question"
                      minlength="0" maxlength="2000" class="bg-dark ms-auto"></textarea>
        </div>
        <div class="d-flex ask_field">
            <label for="tags">Tags</label>
            <input type="text" id="tags" placeholder="Enter tags (3 maximum)" class="bg-dark ms-auto"
                   minlength="1" maxlength="50">
        </div>
    </div>
    <button class="btn btn-success">Ask!</button>
</form>
{% endblock %}